<!doctype html>
<html lang="en">
    <head>
        <title>{{renderData.title or title or metadata.title}}</title>
    </head>
    <body>
    <header>
    </header>
    <main>
     <p>This is the base.njk</p>
    {{ content | safe }}
    </main>
    <footer></footer>
   

    </body>

</html>